<!DOCTYPE html>
<html lang="en">
<head>
  <title>Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</head>


<body>
<nav>
  <div class="nav nav-tabs navbar-expand-lgnavbar-dark " id="nav-tab" role="tablist">
  	<a class="nav-link" id="nav-logout-tab" th:href="@{/logout}" role="tab" aria-selected="false">logout</a>
    <a class="nav-link" id="nav-books-tab" th:href="@{/addBooks}" data-bs-target="#nav-books" role="tab" aria-controls="nav-books" aria-selected="false">Add Books</a>
    <a class="nav-link active" id="nav-category-tab" th:href="@{/category}" data-bs-target="#nav-category" role="tab" aria-controls="nav-category" aria-selected="true">Category</a>
    <a class="nav-link" id="nav-author-tab" th:href="@{/author}" data-bs-target="#nav-author" role="tab" aria-controls="nav-author" aria-selected="false">Author</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade " id="nav-books" role="tabpanel" aria-labelledby="nav-books-tab">
  </div>
  <div class="tab-pane fade show active" id="nav-category" role="tabpanel" aria-labelledby="nav-category-tab">
  	<div th:if="${mode=='list'}">
  		<div th:include="frames/category_list.html"></div>
	</div>
  	<div th:if="${mode=='edit'}">
  		<div th:include="frames/edit_category.html"></div>
	</div>
  	<div th:if="${mode=='add'}">
  		<div th:include="frames/new_category.html"></div>
	</div>
  </div>
  <div class="tab-pane fade" id="nav-author" role="tabpanel" aria-labelledby="nav-author-tab">
  </div>
</div>
</body>

</html>
